*$py.class
*.cover
*.egg
*.egg-info/
*.flac
*.json
*.kproj
*.log
*.manifest
*.mid
*.mo
*.mp3
*.ogg
*.pot
*.py.cover
*.py[codz]
*.sage.py
*.so
*.spec
*.sublime-project
*.sublime-workspace
*.wav
.DS_Store
.Python
.abstra/
.cache
.coverage
.coverage.*
.cursorignore
.cursorindexingignore
.dmypy.json
.eggs/
.env
.envrc
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pixi
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode/
.webassets-cache
/site
ENV/
MANIFEST
__marimo__/
marimo/_lsp/
marimo/_static/
Thumbs.db
__pycache__/
__pypackages__/
audit_output.txt
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
models/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
processed_output/
profile_default/
saved_data/
sdist/
share/python-wheels/
target/
temp/
var/
venv.bak/
venv/
wheels/
