name: Check

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v6

      - name: Install Dev Tools
        run: pip install -e ".[dev]"

      - name: Execute Checks And Fixes
        run: poe check

      - name: Check For Changes
        id: check_changes
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          if [ -z "$(git status --porcelain)" ]; then
            exit 0
          fi
          exit 1