name: "Close stale issues"

on:
  schedule:
  - cron: "0 0 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v10
      with:
        stale-message: "This thread is stale because it has been open 30 days with no activity. Remove stale label or comment or this thread will be closed in 5 days."
        days-before-stale: 60
        days-before-close: 15
        days-before-lock: 15
        lock-reason: 'resolved'
